@import '../../styles/_variables';

.home{
  .content{
    a{
      width: 43%;
      text-decoration: none;
      &.col-2{
        width: 93%;
      }
      margin: $padding1;
      float: left;
      height:150px;
      background-color: lightgray;
      .title{
        font-size: 12px;
        color: $color2;
        line-height:31.5px;
        padding:25px 0 0 25px;
      }
      .number{
        font-size: 27px;
      }
    }
  }
}
