@import '../../styles/_variables';

.container{
  &.default,
  &.home{
    .topNav{
      background-color: $color1;
    }
  }
  &.attendees{
    .topNav{
      background-color: $color1;
    }
  }
  &.speakers{
    .topNav{
      background-color: $color1;
    }
  }
  &.notes{
    .topNav{
      background-color: $color1;
    }
  }
  &.messages{
    .topNav{
      background-color: $color1;
    }
  }
  &.talks{
    .topNav{
      background-color: $color1;
    }
  }
}

.topNav{
  width:100%;
  position: fixed;
  top:0;
  left:0;
  height:64px;
  background: rgba(0,0,0, .8);
  color:white;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
  .icon{
    path{
      fill: #fff;
    }
  }
  a.active{
    padding-left: 11px;
  }
  .title{
    position: absolute;
    top: 32.5px;
    left: 50px;
    right: 50px;
    height: 55px;
    line-height: 1.6rem;
    font-size:1.4rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
}
.btn{
  &.top-left,
  &.top-right{
    text-align: center;
    top: 9px;
    position: absolute;
    background: none;
    border:0;
    padding:0;
    outline: none;
    display:inline-block;
    cursor: pointer;
    height: 55px;
    width: 55px;
  }
  &.top-left {
    .arrowLeft{
      margin-top: 23px;
    }
  }
  &.top-right{
    right: 0;
  }
}

.leftNav,
.rightNav{
  .bg{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    transform: translateZ(0px);
    z-index: 1200;
    pointer-events: none;
    background-color: rgba(68, 74, 89, 0.5);
    opacity: 0;
    &.active{
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.leftNav{
  .bg{
    left: -100%;
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    &.active{
      left: 0;
      transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }
  .list{
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
    border-radius: 0px;
    height: 100%;
    width: 315px;
    position: fixed;
    z-index: 1300;
    left: 0px;
    top: 0px;
    transform: translate3d(-315px, 0px, 0px);
    overflow: auto;
    background-color: $color3;
    &.active{
      transform: translate3d(0px, 0px, 0px);
    }
    .top{
      display: block;
      height: 215px;
      background-color: $color1;
      position: relative;
      .infos-ctn{
        position: absolute;
        bottom: 20px;
        left: 20px;
      }
      .avatar-ctn{
        padding-bottom: 20px;
        margin-bottom: 20px;
        display: inline-block;
        border-bottom: 1.5px solid $color3;
      }
      .name{
        display: block;
        font-size: 3.2rem;
        color: #FFFFFF;
        line-height: 3.8rem;
      }
    }
    ul{
      padding: 0;
      margin: 0;
    }
    li{
      border: 10px;
      box-sizing: border-box;
      display: block;
      outline: none;
      position: relative;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      white-space: nowrap;
      background:none;
      .icon-ctn{
        width: 42px;
        display: inline-block;
      }
      &:hover{
        background-color: lightgray;
      }
      a{
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        margin-left: 0;
        padding: 0 19px;
        position: relative;
        color: $color2;
        font-size: 1.2rem;
        line-height: 5.5rem;
        white-space: nowrap;
        height: 5.5rem;
        svg{margin-right: 31.5px;}
      }
    }
  }
}

.rightNav{
  .bg{
    right: -100%;
    transition: right 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    &.active{
      right: 0;
      transition: right 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }
  .list{
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
    border-radius: 0;
    height: auto;
    width: 245px;
    position: fixed;
    z-index: 1300;
    top: 20px;
    right: 5px;
    overflow: auto;
    background-color: #fff;
    display: none;
    border-radius: 3px;
    &.active{
      display: block;
    }
  }
  ul{
    margin: 0;
    padding: 0;
  }
  a{
    font-size:12px;
    height:50px;
    line-height: 50px;
    padding-left: 20px;
    text-transform: uppercase;
  }
}
