/**
 * @license
 * MyFonts Webfont Build ID 2979847, 2015-02-25T13:16:45-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: ProximaNovaA-Extrabld by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-extrabld/
 *
 * Webfont: ProximaNovaS-Extrabld by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-extrabld/
 *
 * Webfont: ProximaNova-Extrabld by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/extrabld/
 *
 * Webfont: ProximaNovaA-Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-regular/
 *
 * Webfont: ProximaNovaA-Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-light/
 *
 * Webfont: ProximaNovaA-Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-semibold/
 *
 * Webfont: ProximaNovaS-Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-light/
 *
 * Webfont: ProximaNovaS-Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-regular/
 *
 * Webfont: ProximaNovaS-Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-semibold/
 *
 * Webfont: ProximaNova-Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/light/
 *
 * Webfont: ProximaNova-Semibold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/semibold/
 *
 * Webfont: ProximaNova-Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2979847
 * Licensed pageviews: 1,000,000
 * Webfonts copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 *
 * © 2015 MyFonts Inc
*/

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url('#{$font-path}/2D7807_9_0.eot');
  src: url('#{$font-path}/2D7807_9_0.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/2D7807_9_0.woff2') format('woff2'),
       url('#{$font-path}/2D7807_9_0.woff') format('woff'),
       url('#{$font-path}/2D7807_9_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  src: url('#{$font-path}/2D7807_B_0.eot');
  src: url('#{$font-path}/2D7807_B_0.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/2D7807_B_0.woff2') format('woff2'),
       url('#{$font-path}/2D7807_B_0.woff') format('woff'),
       url('#{$font-path}/2D7807_B_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  src: url('#{$font-path}/2D7807_A_0.eot');
  src: url('#{$font-path}/2D7807_A_0.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/2D7807_A_0.woff2') format('woff2'),
       url('#{$font-path}/2D7807_A_0.woff') format('woff'),
       url('#{$font-path}/2D7807_A_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 800;
  src: url('#{$font-path}/2D7807_2_0.eot');
  src: url('#{$font-path}/2D7807_2_0.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/2D7807_2_0.woff2') format('woff2'),
       url('#{$font-path}/2D7807_2_0.woff') format('woff'),
       url('#{$font-path}/2D7807_2_0.ttf') format('truetype');
}
