// Bootstrap options
// http://v4-alpha.getbootstrap.com/getting-started/options

// $enable-flex: true;
$enable-rounded: false;
$enable-shadows: true;
$enable-transitions: true;

// Colors

$gray-dark:        #414141;
$gray:             #676767;
$gray-light:       #b2b2b2;
$gray-lighter:     #ebebed;
$gray-lightest:    #f4f5f6;

$brand-primary:    #5daddf;
$brand-success:    #69d35f;
$brand-info:       #84cdff;
$brand-warning:    #ffe07b;
$brand-danger:     #ff8080;

$brand-menu-text:      #fff;
$brand-menu-dark:      #302431;
$brand-menu-light:     #4f4450;
$brand-menu-highlight: #FF4D0E;

// Typography

$font-family-base: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-root:   16px;
