//@import '../bower_components/bootstrap/scss/variables';

//$font-path: '../fonts';
$color1: #444A59; // dark gray
$color2: #6A6F7B; // gray text
$color3: #F2F2F2; // gray
$color4: #B5B7BD; // light gray text
$color5: #DADBDE; // light gray for label
$color6: #1677CB; // blue
$color7: #DDBA76; // Gold
$padding1: 12.5px;

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
