// @import 'variables';
// @import 'mixins';
// @import 'theme';
// @import 'bootstrap';
// @import 'fonts';
@import '_normalize';
@import '_variables';

html { font-size: 62.5%; }

body{
  //font-family: Arial;
  padding:0;
  margin:0;
  font-family: Roboto, sans-serif;
  background-color: $color3;
}

#liveshout-app{
}

.container{
  padding-top:64px;
   @extend .clearfix;
}
.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}
.float-left{
  float: left !important;
}
.float-right{
  float: right !important;
}
input,
button{
  outline: none;
}
form{
  .errors{
    color: $color7;
    font-size: 1.3rem;
    line-height: 2rem;
    padding-right: 30px;
    padding-bottom: 20px;
  }
}
.layout{
  header{
    // background-size: 100% auto;
    // background-position: center center;
    background-color: $color1;
    height: 206px;
    text-align: center;
    color: #fff;
    display: table;
    width: 100%;
    .infos{
      display: table-cell;
      vertical-align: middle;
    }
    .avatar-ctn{padding-bottom:10px;}
    .name{font-size:3rem;}
    .title{
      color:$color4;
      font-size:1.2rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 28px;
    }
  }
  .body{
    padding: 12.5px;
    a{cursor: pointer;}
    .sectionTitle{
      color: $color2;
      font-size: 1.2rem;
      line-height: 1.4rem;
      letter-spacing: .1rem;
      padding: 25px 0;
    }
    .bg{
      background-color: #fff;
    }
    .spacer{
      padding: 25px;
    }
    p{
      color: $color4;
      font-size: 1.3rem;
      line-height: 2rem;
      letter-spacing: 0.25px;
      margin: 0;
    }
    .avatar-ctn{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-top: 20px;
    }
    .avatar{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $color3;
    }
    .infos{
      // font-size: 1.4rem;
      // color: $color2;
      // letter-spacing: .025rem;
      // line-height: 1.8rem;
    }
    .time{
    }
    .name{
      color: $color2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .title{
      color: $color4;
    }
    .speaker{color: $color4}
    .talks{
      font-size: 1.4rem;
      color: $color2;
      line-height: 7rem;
    }
  }
  .block{
    &.socials{
      .bg{@extend .clearfix;}
      a{
        text-align: center;
        display: block;
        float:left;
        width:70px;
        height:70px;
        .icon{
          margin-top:26px;
        }
      }
    }
  }
}

// Row & Column
.col{float:left}
.row{
  @extend .clearfix;
  &.header{
      padding:10px;
      font-size: 1.2rem;
      color: #6A6F7B;
      letter-spacing: 1px;
      line-height: 1.4;
      .col{width:50%;}
      .col-2{float:right;float:right}
  }
  &.list{
    height: 70px;
    padding: 0 25px;
    display: block;
    font-size: 1.4rem;
    color: $color2;
    letter-spacing: .025rem;
    line-height: 1.8rem;
    .col{
      height: 7rem;
    }
    .col-1{
      width:17%;
    }
    .col-2{
      width: 76%;
      border-bottom:1px solid $color3;
      div:first-child{
        padding-top: 8px;
      }
      &.item-2{
        // font-size:1.4rem;
        // line-height: 2rem;
        div:first-child{
          padding-top: 16px;
        }
      }
    }
    .col-3{
      text-align:right;
      width:7%;
      border-bottom:1px solid $color3;
      position:relative;
      svg{
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -5px;
      }
    }
  }
}

.icon{
  path {
    fill: $color2;
  }
  &.menu{
    width: 16px;
    height: 12.5px;
  }
  &.arrowLeft,
  &.arrowRight{
    width:10.75px;
    height:11.5px;
  }
  &.facebook{
    width: 20px;
    height: 20px;
  }
  &.twitter{
    width: 23px;
  height: 15px;
  }
  &.linkedin{
    width: 20px;
    height: 20px;
  }
  &.note{
    width: 11px;
    height: 19.5px;
  }
  &.time{
    width: 12px;
    height: 12px;
  }
  &.persone{
    width: 12px;
    height: 11.5px;
  }
  &.more{
    width: 8.5px;
    height: 14.5px;
  }
  &.setting{
    width: 13.32px;
    height: 14px;
  }
  &.bell{
    width: 13px;
    height: 13.5px;
  }
  &.messages{
    width: 19px;
    height: 11.5px;
  }
  &.logout{
    width: 12.805px;
    height: 10.5px;
  }
}

.btn{
  border:0;
  &.btn-1,
  &.btn-2,
  &.btn-3{
    color: #fff;
    background-color: $color6;
    height: 45px;
    text-align:center;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    line-height: 45px;
    display:block;
    text-decoration: none;
  }
  &.btn-1{
    color: #fff;
    background-color: $color6;
  }
  &.btn-2{
    color: #fff;
    background-color: $color7;
  }
  &.btn-3{
    color: $color1;
    background-color: #fff;
  }
}

// avatar
.avatar{
  border-radius: 50%;
  &.avatar-small{
    width: 30px;
    height: 30px;
  }
  &.avatar-medium{
    width: 60px;
    height: 60px;
  }
  &.avatar-large{
    width: 90px;
    height: 90px;
  }
}
