@import '../../styles/_variables';

.signup{
  &.container{
    background-color: $color1;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .topNav{
    background-color: transparent;
  }
  form{
    position: absolute;
    top: 50%;
    left: $padding1;
    right: $padding1;
    letter-spacing: 0.25px;
    margin-top: -130px;
    .bg{
      background-color: #fff;
      padding-left: 30px;
      padding-top:24px;
    }
    .btn{
      width:100%;
    }
    .row{padding-bottom: 24px;}
    .col-1{
      width: 30%;
    }
    .col-2{
      width: 70%;
    }
    .form-label{
      color: $color5;
      font-size: 1.2rem;
      line-height: 36px;
      height: 36px;
    }
    .form-input{
      font-size: 1.4rem;
      height: 36px;
      background-color:transparent;
      border:0;
      color: $color1;
      border-bottom: 1px solid $color3;
      padding:0;
      margin:0;
      padding: 0 10px 0 0;
    }
    .checkbox{
      color: $color1;
      font-size: 1.2rem;
    }
  }
  .bottom-link{
  }
}
