<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/main.css?v=$VERSION(liveshout-app)">
    <link rel="icon" href="/favicon.ico">
    <title>Liveshout</title>
    <script src="/vendor/babel-polyfill.js?v=$VERSION(babel-core)"></script>
    <script src="/vendor/system.js?v=$VERSION(systemjs)"></script>
  </head>
  <body>
    <div id="liveshout-app"></div>
    <script src="/bootstrap.js?v=$VERSION(liveshout-app)"></script>
    {{CONFIG.debug:<script>document.write('<script src="http://'
    + (location.host || 'localhost').split(':')[0]
    + ':35829/livereload.js?snipver=1"></'
    + 'script>')</script>}}
  </body>
</html>
