@font-face {
	font-family: 'liveshout';
	src:url('fonts/liveshout.eot?zhuu3t');
	src:url('fonts/liveshout.eot?#iefixzhuu3t') format('embedded-opentype'),
		url('fonts/liveshout.ttf?zhuu3t') format('truetype'),
		url('fonts/liveshout.woff?zhuu3t') format('woff'),
		url('fonts/liveshout.svg?zhuu3t#liveshout') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'liveshout';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-caret:before {
	content: "\e600";
}
.icon-check:before {
	content: "\e601";
}
.icon-close:before {
	content: "\e602";
}
.icon-copy:before {
	content: "\e603";
}
.icon-delete:before {
	content: "\e604";
}
.icon-edit:before {
	content: "\e605";
}
.icon-email:before {
	content: "\e606";
}
.icon-folder:before {
	content: "\e607";
}
.icon-liveshout:before {
	content: "\e608";
}
.icon-liveshout-brand:before {
	content: "\e609";
}
.icon-menu-collapse:before {
	content: "\e60a";
}
.icon-menu-expand:before {
	content: "\e60b";
}
.icon-more:before {
	content: "\e60c";
}
.icon-reload:before {
	content: "\e60d";
}
.icon-reminder:before {
	content: "\e60e";
}
.icon-search:before {
	content: "\e60f";
}
.icon-secure:before {
	content: "\e610";
}
.icon-settings:before {
	content: "\e611";
}
.icon-star:before {
	content: "\e612";
}
.icon-user:before {
	content: "\e613";
}
.icon-warning:before {
	content: "\e614";
}
