$icon-caret: "\e600";
$icon-check: "\e601";
$icon-close: "\e602";
$icon-copy: "\e603";
$icon-delete: "\e604";
$icon-edit: "\e605";
$icon-email: "\e606";
$icon-folder: "\e607";
$icon-liveshout: "\e608";
$icon-liveshout-brand: "\e609";
$icon-menu-collapse: "\e60a";
$icon-menu-expand: "\e60b";
$icon-more: "\e60c";
$icon-reload: "\e60d";
$icon-reminder: "\e60e";
$icon-search: "\e60f";
$icon-secure: "\e610";
$icon-settings: "\e611";
$icon-star: "\e612";
$icon-user: "\e613";
$icon-warning: "\e614";
