@import '../../styles/_variables';

.intro{
  &.container{
    height: 100%;
    width: 100%;
    padding: 0;
    background: url('../../images/bg/random-bg.png') center center;
    background-size: 100% auto;
  }
  .box{
    position: absolute;
    top: 50%;
    left: $padding1;
    right: $padding1;
    letter-spacing: 0.25px;
    margin-top: -130px;
  }
  h1,p{text-align: center;}
  h1{
    font-size: 2.5rem;
    color: #444A59;
    letter-spacing: 1.08px;
    line-height: 2.95rem;
    font-weight: normal;
    text-transform: uppercase;
  }
  p{
    font-size: 1.6rem;
    color: #444A59;
    letter-spacing: 0.0305rem;
    line-height: 2.5rem;
  }
  .btn{margin-bottom:$padding1}
}
